<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calcimetro">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calcimetro">
        <activity android:name=".Perfil"></activity>
        <activity android:name=".Chat" />
        <activity
            android:name=".Analisis"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Dia"
            tools:ignore="Instantiatable" />
        <activity android:name=".itemActivity" />
        <activity android:name=".ResumenCalendar" />
        <activity android:name=".AdmActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".RecContraActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaDispositivos"
            android:label="Dispositivos" />
    </application>

</manifest>